.search-bar{
    margin:20px;
    text-align:center;
}
.search-bar input{
width:50%;

}

.video-item img{
max-width: 64px;
}

.video-detail .details{
    margin-top : 10px;
    border-radius: 4px;
    padding : 10px;
    border : 1px solid #ddd;
}
.list-group-item{
    cursor :pointer;
}
.list-group-item:hover{
    background-color: #eee;
}

.logostyle{
    float:left;
    height:25px;
    font-size:20px;
    width:200px;
    color:#FF0000;
    background: linear-gradient(90deg, #FFFFFF 30%, #000000 70%);
}
